{% extends 'base.html.twig' %}


{% block title %}Choisir des accessoires{% endblock %}

{% block body %}


<div class="container">
        <div class="w-75 mx-auto">
        <div><h1>Choix des Fixations</h1></div>
    {{ form_start(Form) }}
    <table>
            <tr>
                <td>
                    <ul class="fixation" data-prototype="{{ form_widget(Form.EchelleFixation.vars.prototype)|e('html_attr') }}">
                        {% for fixation in Form.EchelleFixation %}
                            <li>
                                <table>
                                    <tr>
                                        <td>{{ form_label(fixation.Fixation) }}</td>
                                        <td>{{ form_widget(fixation.Fixation) }}</td>
                                        <td>{{ form_errors(fixation.Fixation) }}</td>
                                    <tr>
                                    <tr>
                                        <td>{{ form_label(fixation.Qte) }}</td>
                                        <td>{{ form_widget(fixation.Qte) }}</td>
                                        <td>{{ form_errors(fixation.Qte) }}</td>
                                    <tr>
                                </table>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td><button class="text-dark btn bg-warning" type="submit">Créer</button></td>
                <td><button type="button" class="add_item_link text-dark btn bg-warning" data-collection-holder-class="fixation">Ajouter Fixation</button></td>
            </tr>
        </table>
    {{ form_end(Form) }}

    
    
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            const $fixationsCollectionHolder = $('ul.fixation');
            $fixationsCollectionHolder.data('index', $fixationsCollectionHolder.find('input').length);

            $('body').on('click', '.add_item_link', function(e) {
                var $fixationssCollectionHolder = $(e.currentTarget).data('collectionHolderClass');
                addFormToCollection($fixationssCollectionHolder);
                
            });

            $fixationsCollectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
        });

        function addFormToCollection($collectionHolderClass) {
            const $collectionHolder = $('.' + $collectionHolderClass);
            const prototype = $collectionHolder.data('prototype');
            const index = $collectionHolder.data('index');
            let newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            const $newFormLi = $('<li></li>').append(newForm);
            $collectionHolder.append($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($fixationFormLi) {
            const $removeFormButton = $('<button class="text-dark btn bg-warning" type="button">Delete this Accessory</button>');
            $fixationFormLi.append($removeFormButton);

            $removeFormButton.on('click', function() {
                $fixationFormLi.remove();
            });
        }
    </script>
{% endblock %}
{% block progression %}
{{ include('ProgressionBar.html.twig') }}
{% endblock %}