{% extends 'base.html.twig' %}

{% block title %}Choisir une echelle{% endblock %}

{% block body %}
<div class="container">
    
        <div class="w-75 mx-auto">
        <div><h1>Choix de L'echelle</h1></div>
    {{ form_start(EchelleAjoutForm) }}
    {{ form_row(EchelleAjoutForm.Echelle_TypeEchelle, {
        }) }}
    {% for child in EchelleAjoutForm.Echelle_TypeEchelle %}
    {{ child.Echelle_TypeEchelle.vars.id }}
    {% endfor %}
    
        
        <a styke="color:black" class="btn bg-warning" href="#">Precedent</a>
        <button class="btn bg-warning">Suivant</button>
    {{ form_end(EchelleAjoutForm) }}
    
        </div>
    </div>

    <div>
<br>
</div>
<br>
{% endblock %}

{% block progression %}
{{ include('ProgressionBar.html.twig') }}
{% endblock %}