{% extends 'base.html.twig' %}

{% block title %}Ajouter une configuration{% endblock %}

{% block body %}

    
    <div class="container">
    
        <div class="w-75 mx-auto">
        <div><h1>Ajout d'une configuration</h1></div>
    {{ form_start(ConfigAjoutForm) }}
        {{ form_row(ConfigAjoutForm.NomConfig, {
            label: 'Reference Chantier (Pour le Client)'
        }) }}
        {{ form_row(ConfigAjoutForm.ReferenceConfig, {
            label: 'Reference de la configuration'
        }) }}
        {{ form_row(ConfigAjoutForm.DescriptionConfig, {
            label: 'Description'
        }) }}

        
        <button type="submit" class="btn bg-warning">Suivant</button>
    {{ form_end(ConfigAjoutForm) }}
        </div>
    </div>
{% endblock %}