{% extends 'base.html.twig' %}

{% block title %}Choisir une Entree{% endblock %}

{% block body %}


<div class="container">
    
        <div class="w-75 mx-auto">
        <div><h1>Choix de l'entrée</h1></div>
    {{ form_start(EntreeAjoutForm) }}
        {{ form_row(EntreeAjoutForm.id, {
            label: 'Entree souhaitée'
        }) }}

        <a styke="color:black" class="text-dark btn bg-warning" href="{{ path('index') }}">Precedent</a>
        <button type="submit" class="btn bg-warning">Suivant</button>
    {{ form_end(EntreeAjoutForm) }}
    
        </div>
    </div>
<div>
<br>
</div>
<br>
{% endblock %}

{% block progression %}
{{ include('ProgressionBar.html.twig') }}
{% endblock %}