{% extends "base.html.twig" %}


{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p class="text-center">Bonjour ! Votre Email est : {{ app.user.email }}</p>

{% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}

    <div class="container">
            <center><h3>Liste des Config</h3></center>
                <!-- Tableau qui affiche les config -->
                <table id="ListeConfig" class="table table-striped table-bordered table-sm ">
                    <thead>
                        <tr>
                            <!-- <th class="bg-warning" style="color:white;">Nom</th> -->
                            <th class="bg-warning" style="color:white;">Nom</th>
                            <th class="bg-warning" style="color:white;">Description</th>
                            <th class="bg-warning" style="color:white;">Reference</th>
                            <th class="bg-warning" style="color:white;">Date</th>
                            <th class="bg-warning" style="color:white;">Actions</th>

                            <!-- <th class="bg-warning" style="color:white;"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for Config in listeConfig.getConfigUser %}
                            <tr>
                                <td class="table-light"><a href="{{ path('detailConfig', {'id': Config.id}) }}">
                                {{ Config.NomConfig }}
                                </a></td>
                                <td class="table-light">{{ Config.DescriptionConfig }}</td>
                                <td class="table-light">{{ Config.ReferenceConfig }}</td>
                                <td class="table-light">{{ Config.DateConfig|date('Y-m-d') }}</td>
                                <td class="table-light"><a class="btn btn-danger btn-sm" onclick="return confirm('Etes-vous sur de vouloir supprimer cette configuration ?')" href="#">Supprimer</a> <a class="btn btn-primary btn-sm" href="#">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}


             {% if is_granted('ROLE_ADMIN') %}
                    <div class="container">
            <center><h3>Liste des Config</h3></center>
                <!-- Tableau qui affiche les config -->
                <table id="ListeConfig" class="table table-striped table-bordered table-sm ">
                    <thead>
                        <tr>
                            <!-- <th class="bg-warning" style="color:white;">Nom</th> -->
                            <th class="bg-warning" style="color:white;">Nom</th>
                            <th class="bg-warning" style="color:white;">Description</th>
                            <th class="bg-warning" style="color:white;">Reference</th>
                            <th class="bg-warning" style="color:white;">Date</th>
                            <th class="bg-warning" style="color:white;">Remise</th>
                            <th class="bg-warning" style="color:white;">Actions</th>

                            <!-- <th class="bg-warning" style="color:white;"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for Config in listeAdmin %}
                            <tr>
                                <td class="table-light"><a href="{{ path('detailConfig', {'id': Config.id}) }}">
                                {{ Config.NomConfig }}
                                </a></td>
                                <td class="table-light">{{ Config.DescriptionConfig }}</td>
                                <td class="table-light">{{ Config.ReferenceConfig }}</td>
                                <td class="table-light">{{ Config.DateConfig|date('Y-m-d') }}</td>
                                <td class="table-light">{% if Config.RemiseConfig is null %} Pas de Remise allouée
                                {% else %}{{ Config.RemiseConfig }} {% endif %}</td>
                                <td class="table-light"><a class="btn btn-danger btn-sm" onclick="return confirm('Etes-vous sur de vouloir supprimer cette configuration ?')" href="#">Supprimer</a> <a class="btn btn-primary btn-sm" href="{{ path('ModifierConfig', { 'id' : Config.id }) }}">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <br>
             {% endif %}
{% endif %}

{% endblock %}





